.star-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.star-rating-label {
    margin-bottom: -.5em;
    font-weight: bold;
}

.star {
    font-size: 2rem;
    color: gray;
    transition: color 0.2s;
    &.filled {
        color: gold;
    }
    &:hover{
        color: gold;
    }
}
