
html,
body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Ensure it is on top of other elements */
    width: 80%; /* Adjust as needed */
    max-width: 600px; /* Adjust as needed */
}


// Free themes from https://bootswatch.com/ 
// You can also use your own custom theme
// Uncomment the theme you want to use

// Anpan theme
@import "bootswatch/anpan/variables"; 
@import "node_modules/bootstrap/scss/bootstrap";
@import "bootswatch/anpan/bootswatch";  

// Sketchy theme
// @import "bootswatch/sketchy/variables"; 
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "bootswatch/sketchy/bootswatch";  


// Import all styles for the components
@import "footer";    // import _footer.scss
@import "dormcard";  // import _dormcard.scss
@import "DormCardHover";  // import _dormcardhover.scss
@import "SmallDormCard"; // import _SmallDormCard.scss
@import "SmallDormCardCarusel"; // import _SmallDormCardCarusel.scss
@import "StarRating"; // import _StarRating.scss
@import "Stars"; // import _Stars.scss