
html,
body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Ensure it is on top of other elements */
    width: 80%; /* Adjust as needed */
    max-width: 600px; /* Adjust as needed */
}


// Free themes from https://bootswatch.com/ 
// You can also use your own custom theme
// Uncomment the theme you want to use

// Anpan theme
@import "bootswatch/anpan/variables"; 
@import "node_modules/bootstrap/scss/bootstrap";
@import "bootswatch/anpan/bootswatch";  

// Sketchy theme
// @import "bootswatch/sketchy/variables"; 
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "bootswatch/sketchy/bootswatch";  

// Spacelab theme
// @import "bootswatch/spacelab/variables"; 
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "bootswatch/spacelab/bootswatch";  

// Flatly
// @import "bootswatch/flatly/variables"; 
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "bootswatch/flatly/bootswatch";  

// Morph theme
// @import "bootswatch/morph/variables"; 
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "bootswatch/morph/bootswatch";  

// cyborg theme
// @import "bootswatch/cyborg/variables"; 
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "bootswatch/cyborg/bootswatch";  


// Define your custom color palette
// $theme-colors: (
//     "primary": #6e827c,
//     "secondary": #118f65,
//     "success": #28a745,
//     "info": #17a2b8,
//     "warning": #ffc107,
//     "danger": #da283a,
//     "light": #dfe6ec,
//     "dark": #343a40,
//     "custom-color": #277255
// );


// Import all styles for the components
@import "footer";    // import _footer.scss
@import "dormcard";  // import _dormcard.scss
@import "DormCardHover";  // import _dormcardhover.scss
@import "SmallDormCard"; // import _SmallDormCard.scss
@import "SmallDormCardCarusel"; // import _SmallDormCardCarusel.scss
@import "StarRating"; // import _StarRating.scss
@import "Stars"; // import _Stars.scss