
html,
body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Ensure it is on top of other elements */
    width: 80%; /* Adjust as needed */
    max-width: 600px; /* Adjust as needed */
}
